<launch>
  <rosparam param="nt_bridge/tables/rx">["DrivebaseSubsystem", "DiggingSubsystem", "DumpingSubsystem"]</rosparam>
  <rosparam param="nt_bridge/tables/tx">["DrivebaseControl", "DiggingControl", "DumpingControl"]</rosparam>
  <param name="nt_bridge/server" type="str" value="10.12.34.2" />
  <param name="nt_bridge/localnotify" type="bool" value="False" />
  <node name="nt_bridge" pkg="ros_networktables" type="nt_bridge.py" output="screen"></node>
</launch>