<launch>
    <node name="nt_bridge" pkg="ros_networktables" type="nt_bridge.py" output="screen">
      <rosparam param="tables/rx">["DrivebaseSubsystem", "DiggingSubsystem", "DumpingSubsystem"]</rosparam>
      <rosparam param="tables/tx">["DrivebaseControl", "DiggingControl", "DumpingControl"]</rosparam>
      <param name="server" type="str" value="127.0.0.1" />
      <param name="localnotify" type="bool" value="True" />
    </node>
    <node name="nt_sim" pkg="ros_networktables" type="nt_sim.py" output="screen"></node>
</launch>